body {
  background: url("imgs/y2kbg-1.png")
}


.nav_tab {
  display:flex;
  flex-wrap:nowrap;
  margin:10px;
  padding-left:330px;
  line-height:15px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;

}

.nav_tab > a {
  width:270px;
  text-align:center;
}


.link {
  color:white;
  text-shadow: 2px 2px 2px red;
}

.link:hover {
  color:red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#featured-artist {
  width:20%;
  border: 5px inset white;

  -webkit-transition-property: all;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: ease;
}

#featured-artist:hover{
  transform:scale(1.05);
}

#logo {
  width: 30%;
  padding:15px;
  border-left: 2px groove white;
  border-right: 2px groove white;

  -webkit-transition-property: all;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: ease;
}

#logo:hover {
  transform:rotate(0.5turn);
}

.playlists {
  padding-left: 400px;
  border-bottom: 3px dotted gray;
}

h2 {
  font-family: "Arial";
  text-align:center;
  color:white;
  text-shadow: 1px 2px 2px red;
  padding: 20px;
  border-bottom: 3px dashed white;
}


h3 {
  font-family: "Arial";
  text-align:center;
  color:white;
  text-shadow: 2px 2px gray;
}
